<!-- <p>
  forgotpassword works!
</p> -->
<div class="container">
  <!-- <div class="row">
    <div class=""> -->
      <!-- <div class="alert alert-success alert-dismissable" *ngIf="loginSuccessMsgFlag">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Your are succesfully Login!
      </div> -->
      <!-- <div class="alert alert-danger alert-dismissable" *ngIf="loginErrorMsgFlag">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Warning!</strong> Authentication failed!
      </div> -->
      <div class="col-lg-4 center-block border_line">
        <!-- <form #fLogin="ngForm" (ngSubmit)="onSaveLogin(fLogin.value)"> -->
        <div class="form-group">
          <label for="email">Enter Your Email</label>
          <input type="text" id="email" [(ngModel)]="forgotModel.forgotEail" class="form-control" name="email" placeholder="Your Email">
        </div>

        <div *ngIf="mobileFlag" class="form-group ">
          <label for="mobileNumber">Enter Your Mobile Number</label>
          <input type="text" id="mobileNumber" [(ngModel)]="forgotModel.forgotMobileNumber" class="form-control" name="mobileNumber" placeholder="Mobile Number">
        </div>

        <div *ngIf="answerFlag" class="form-group" >
          <label for="securityQuestion"> Security Question </label>
          <input type="text" [disabled]="true" id="securityQuestion" [(ngModel)]="question" class="form-control" name="securityQuestion">
        </div>

        <div *ngIf="answerFlag" class="form-group">
          <label for="answer">Answer</label>
          <input type="text" id="answer" [(ngModel)]="forgotModel.forgotAnswer" class="form-control" name="answer" placeholder="Answer">
        </div>

        <div *ngIf="newPassword" class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" [(ngModel)]="forgotModel.forgotPassword" class="form-control" name="password" placeholder="Password">
          </div>

        <br>
        <button type="button" class="btn btn-success" (click)="forgotPasswordFun()"> {{buttonName}} </button>
        <!-- <a href="#" ><strong>Forgot Password?</strong></a> / New member?<a routerLink="/signup" routerLinkActive="active"><strong>Sign Up</strong></a> -->
        <!-- </form> -->
      </div>
    <!-- </div>
  </div> -->
</div>
