.col-lg-4.center-block {
float: none !important;
}
.border_line{ border:1px solid #d1d1d1  ; padding: 20px; border-radius: 5px;


}
.col-lg-4.center-block {
    float: none !important;
}
.border_line{ border:1px solid #d1d1d1; padding: 20px; border-radius: 5px;


}