.form-group .form-control {
	margin-bottom: 5px;
	/*padding: 5px 10px;
    font-size: 17px;*/
}

.form-group {
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
}
h1 {
	color: rgba(15, 162, 171, 0.84);
}